<a href="https://colab.research.google.com/github/Nokibulofficial18/NoSafenet-Python-for-AI-and-ML-/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
hello.upper() returns a string where each and every character of the string will be
changed into uppercase.
"""

'\nhello.upper() returns a string where each and every character of the string will be \nchanged into uppercase.\n'

In [ ]:
"""
str.strip() method is used to leading and trailing whitespace from a string
"""

'\nstr.strip() method is used to leading and trailing whitespace from a string\n'

In [ ]:
s = "banana"
x=s.replace("a","@")
print("String after replacing: ",x)

String after replacing:  b@n@n@

In [ ]:
s = "HELLO"
x = s.lower()
print(x)

hello

In [ ]:
s = "Python rocks"
n = s.index("o")
print(f"The first occurrence of o in the string is at {n} index")

The first occurrence of o in the string is at 4 index

In [ ]:
s = "example.py"
print(s.endswith(".py"))

True

In [ ]:
s = "data science is fun"
lista = s.split(" ")
print(lista)

['data', 'science', 'is', 'fun']

In [ ]:
s = "python"
x = s.capitalize()
print(s, x)

python Python

In [ ]:
list1 = ["data", "science", "rocks"]
s = " ".join(list1)
print(s)

data science rocks

In [ ]:
s = "This is a simple string"
i_cnt = s.count("i")
print(f"i appears {i_cnt} times in {s}")

i appears 4 times in This is a simple string

In [ ]:
s = "2025"
print(s.isnumeric())

True

In [ ]:
s = "LearnPython"
print(s.isalpha())

True

In [ ]:
s = "Python Programming Language"
first = s.split(" ")[0]
print(f"The first word from {s} is {first}")

The first word from Python Programming Language is Python

In [ ]:
s = "welcome to python"
x = s.capitalize()
print("Capitalized string: ", x)

Capitalized string:  Welcome to python

In [ ]:
s = "1,000,000"
x = s.replace(",","")
print(x)

1000000

In [ ]:
s = "Python is fun. I love python."
python_cnt = s.lower().count("python")
print(f"python appears {python_cnt} times in {s}")

python appears 2 times in Python is fun. I love python.

In [ ]:
s = "introduction to python"
x = s.title()
print(x)

Introduction To Python

In [ ]:
s = "This is good. That is fine. It is okay."
x = s.replace("is","was",2)
print(x)

Thwas was good. That is fine. It is okay.

In [ ]:
s = " "
print(s.isspace())

True