<a href="https://colab.research.google.com/github/Nokibulofficial18/NoSafenet-Python-for-AI-and-ML-/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [2]:
my_list = [1,4.5,"Hello",True]
print(type(my_list))

<class 'list'>

In [3]:
my_list = [1,2,3,8,7]
print("Before changing: ",my_list)
my_list[3]=4
print("After changing: ",my_list)

Before changing:  [1, 2, 3, 8, 7]
After changing:  [1, 2, 3, 4, 7]

In [4]:
my_list = []
my_list.append("Banana")
my_list.append("Apple")
my_list.append("Orange")
print(my_list)

['Banana', 'Apple', 'Orange']

In [5]:
s = "My name is nokibul"
string_list = list(s)
print(string_list)

['M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'n', 'o', 'k', 'i', 'b', 'u', 'l']

In [6]:
my_list = [1,2,3,8,7]
print(my_list[0])
print(my_list[len(my_list)//2])
print(my_list[len(my_list)-1])

1
3
7

In [7]:
my_list = [1,2,3,8,7]
print(my_list[:3])

[1, 2, 3]

In [9]:
my_list = [1,2,3,8,7, 9, 10, 24, 35,36]
print(my_list[1::2])

[2, 8, 9, 24, 36]

In [10]:
my_list = [1,2,3,8,7, 9, 10, 24, 35,36]
reverse_list = my_list[::-1]
print(my_list)
print(reverse_list)

[1, 2, 3, 8, 7, 9, 10, 24, 35, 36]
[36, 35, 24, 10, 9, 7, 8, 3, 2, 1]

In [11]:
my_list = [1,2,3,8,7, 9, 10, 24, 35,36]
print(my_list[2:6])

[3, 8, 7, 9]

In [12]:
my_list = [1,2,3,8,7, 9, 10, 24, 35,36]
my_list.append(34)
print(my_list)

[1, 2, 3, 8, 7, 9, 10, 24, 35, 36, 34]

In [14]:
my_list = [1,2,3,8,7, 9, 10, 24, 35,36]
my_list.extend([34,56,78,90])
print(my_list)

[1, 2, 3, 8, 7, 9, 10, 24, 35, 36, 34, 56, 78, 90]

In [15]:
my_list = [1,2,3,8,7, 9, 10, 24, 35,36]
my_list.insert(1,5)
print(my_list)

[1, 5, 2, 3, 8, 7, 9, 10, 24, 35, 36]

In [19]:
list1 = [1, 2, 3]
list2 = [4, 5]
list1.append(list2)
print(list1)

[1, 2, 3, [4, 5]]

append function add the entire 2nd list as a single element where as extend adds each element single

In [18]:
n = int(input("what is the size of the list"))
my_list = []
for i in range(n):
  x = int(input(f"Enter {i+1}th element: "))
  my_list.append(x)
print(my_list)

what is the size of the list2
Enter 1th element: 1
Enter 2th element: 2
[1, 2]

In [20]:
my_list = [1,2,3,8,7, 9, 10, 24, 35,36]
my_list[1] = 5
print(my_list)

[1, 5, 3, 8, 7, 9, 10, 24, 35, 36]

In [22]:
my_list = [1,2,3,8,7, 9, 10, 24, 35,36]
del(my_list[2])
print(my_list)

[1, 2, 8, 7, 9, 10, 24, 35, 36]

In [23]:
my_list = [1,2,3,8,7, 9, 10, 24, 35,36]
my_list.pop()
print(my_list)

[1, 2, 3, 8, 7, 9, 10, 24, 35]

In [24]:
my_list = [1,2,3,8,7, 9, 10, 24, 35,36]
my_list.remove(10)
print(my_list)

[1, 2, 3, 8, 7, 9, 24, 35, 36]

In [25]:
my_list = [1,2,3,8,7, 9, 10, 24, 35,36]
my_list.clear()
print(my_list)

[]

In [26]:
my_list = [1,2,3,8,7, 9, 10, 24, 35,36]
print(f"there are {len(my_list)} items in the list")

there are 10 items in the list

In [27]:
my_list = [1,2,3,8,7, 9, 10, 24, 35,36]
maximum = max(my_list)
minimum = min(my_list)
print(f"The maximum in the list is {maximum} and the minimum is {minimum}")

The maximum in the list is 36 and the minimum is 1

In [28]:
my_list = [1,2,3,8,7, 9, 10, 24, 35,36]
ascending_list  = sorted(my_list)
descending_list = sorted(my_list, reverse=True)
print(my_list)
print(ascending_list)
print(descending_list)

[1, 2, 3, 8, 7, 9, 10, 24, 35, 36]
[1, 2, 3, 7, 8, 9, 10, 24, 35, 36]
[36, 35, 24, 10, 9, 8, 7, 3, 2, 1]

In [29]:
my_list = [1,2,3,8,7, 9, 10, 24, 3,3]
cnt = my_list.count(3)
print(f"Count of 3 is {cnt} in the list")

Count of 3 is 3 in the list

In [30]:
my_list = [1,2,3,8,7, 9, 10, 24, 35,36]
pos = my_list.index(9)
print(f"9 is at {pos} index")

9 is at 5 index

In [31]:
my_list = [1,2,3,8,7, 9, 10, 24, 35,36]
for element in my_list:
  print(element,end=" ")

1 2 3 8 7 9 10 24 35 36

In [32]:
sqr_list = [x**2 for x in range(1,11)]
print(sqr_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [33]:
my_list = [1,2,3,8,7, 9, 10, 24, 35,36]
even_list = [x for x in my_list if x%2==0]
print(even_list)

[2, 8, 10, 24, 36]

In [34]:
two_list = [[1,2],[34,43],[32,56]]
flatten_list = [x for row in two_list for x in row]
print(flatten_list)

[1, 2, 34, 43, 32, 56]