<a href="https://colab.research.google.com/github/Nokibulofficial18/NoSafenet-Python-for-AI-and-ML-/blob/main/Final_Assignment_Basic_python_%3CNokibul%3E.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Basic Questions**

In [ ]:
a = 5
b = 10
print("Before Swapping: ")
print(f"A:{a} and B:{b}")
a, b= b, a
print("After Swapping: ")
print(f"A:{a} and B:{b}")

Before Swapping:
A:5 and B:10
After Swapping:
A:10 and B:5

In [ ]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
sum = a+b
print(f"Sum of {a} and {b} is {sum}")

Enter the first number: 45
Enter the second number: 65
Sum of 45 and 65 is 110

In [ ]:
a = int(input("Enter the desired number: "))
square_a = a**2
cube_a = a**3
print(f"Square of {a} is: {square_a}")
print(f"Cube of {a} is: {cube_a}")

Enter the desired number: 5
Square of 5 is: 25
Cube of 5 is: 125

In [ ]:
a = int(input("Enter the desired number: "))
if a % 2 == 0:
  print(f"{a} is even")
else:
  print(f"{a} is odd")

Enter the desired number: 44
44 is even

In [ ]:
input_str = input("Enter the string: ")
n = len(input_str)
print(f"Length of {input_str} is {n}")

Enter the string: Nokibul
Length of Nokibul is 7

In [ ]:
input_str = input("Enter the string: ")
upper_str = input_str.upper()
lower_str = input_str.lower()
print(input_str)
print(upper_str)
print(lower_str)

Enter the string: nOkIbUl
nOkIbUl
NOKIBUL
nokibul

In [ ]:
a = int(input("Enter the desired number: "))
if a > 0:
  print(f"{a} is Positive")
elif a<0:
  print(f"{a} is negative")
else:
  print(f"{a} is zero")

Enter the desired number: -89
-89 is negative

In [ ]:
for i in range(1,11):
  print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
sum = 0
for i in range(1,101):
  sum += i

print(f"Sum of the all numbers from 0 to 100 is: {sum}")

Sum of the all numbers from 0 to 100 is: 5050

In [ ]:
for i in range(1,51):
  if i % 2== 0:
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [ ]:
input_str = input("Enter the string: ")
reverse_string = input_str[::-1]
print(f"Reverse of {input_str} is {reverse_string}")

Enter the string: Nokibul
Reverse of Nokibul is lubikoN

In [ ]:
ch = input("Enter the character: ")
if ch.lower() == 'a' or ch.lower() == 'e' or ch.lower() == 'i' or ch.lower() == 'o' or ch.lower() == 'u':
  print(f"{ch} is a vowel")
else:
  print(f"{ch} is a consonent")

Enter the character: e
e is a vowel

In [ ]:
my_list = [1,3,56,5,6]
maxi = max(my_list)
print(f"{maxi} is the max of {my_list}")

56 is the max of [1, 3, 56, 5, 6]

In [ ]:
my_list = [1,3,56,5,6]
sum = 0
for num in my_list:
  sum += i
print(sum)

250

In [ ]:
my_tuple = (1,3,56,5,6)
for num in my_tuple:
  print(num,end=" ")

1 3 56 5 6

In [ ]:
my_set = {1,5,6}
print(my_set)

{1, 5, 6}

In [ ]:
input_str = input("Enter a string: ")
frequency_arr = {}

for char in input_str:
    if char in frequency_arr:
        frequency_arr[char] += 1
    else:
        frequency_arr[char] = 1

print("Character Frequencies:")
for char in sorted(frequency_arr):
    print(f"'{char}': {frequency_arr[char]}")

Enter a string: dfafaffksdhfdhf hfiodhfoidahfas
Character Frequencies:
' ': 1
'a': 4
'd': 5
'f': 9
'h': 5
'i': 2
'k': 1
'o': 2
's': 2

In [ ]:
def factorial(n):
  prod = 1
  for i in range(1,n+1):
    prod *= i
  return prod

a = int(input("Enter the desired number: "))
res = factorial(a)
print(f"Factorial of {a} is {res}")

Enter the desired number: 5
Factorial of 5 is 120

In [ ]:
my_dict = {
    "Masud":45,
    "kamal":68,
    "Rahim":87
}
print(my_dict)

{'Masud': 45, 'kamal': 68, 'Rahim': 87}

In [ ]:
my_dict = {
    "Masud":45,
    "kamal":68,
    "Rahim":87
}
kamal_mark = my_dict["kamal"]

print("Mark of kamal is: ",kamal_mark)

Mark of kamal is:  68

**Medium**

In [ ]:
my_list = [1,3,4,2,4,6,7]
maxi = max(my_list)
sec_max = -1
for num in my_list:
  if sec_max<num and num != maxi:
    sec_max = num

print(f"{sec_max} is the second maximum in {my_list}")

6 is the second maximum in [1, 3, 4, 2, 4, 6, 7]

In [ ]:
my_list = [1,3,4,2,4,6,7,4,3,5,2,4,5,6,2,1]
unq_list = list(set(my_list))
print(unq_list)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
n = int(input("Enter your desired number: "))
print(f"Multiplication table of {n}: ")
for i in range(1,11):
  print(f"{n} x {i} = {n*i}")

Enter your desired number: 5
Multiplication table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
def check_palindrome(s):
  n = len(s)
  i = 0
  j = n-1
  while(i<=j):
    if s[i] != s[j]:
      return False

    i += 1
    j -= 1

  return True


s = input("Enter The string: ")
if check_palindrome(s):
  print(f"{s} is a palindrome.")
else:
  print(f"{s} is not a palindrome")

Enter The string: ono
ono is a palindrome.

In [ ]:
s = input("Enter the string: ")
vowel_cnt=0
conso_cnt=0
for ch in s:
  if ch.lower() == 'a' or ch.lower() == 'e' or ch.lower() == 'i' or ch.lower() == 'o' or ch.lower() == 'u':
    vowel_cnt += 1
  else:
    conso_cnt += 1

print(f"{s} have {vowel_cnt} vowels and {conso_cnt} consonents.")

Enter the string: ajdfjksajfksdjfskdf
ajdfjksajfksdjfskdf have 2 vowels and 17 consonents.

In [ ]:
def even_list_creator(input_list):
  even_list = [num for num in input_list if num%2==0]
  return even_list

my_list = [1,2,4,3,4,3,43,4,5,64,3,532]
even_list = even_list_creator(my_list)
print(f"{even_list} is the new list with only even numbers from {my_list}")

[2, 4, 4, 4, 64, 532] is the new list with only even numbers from [1, 2, 4, 3, 4, 3, 43, 4, 5, 64, 3, 532]

In [ ]:
def sum_of_squares(input_list):
  sum = 0
  for num in input_list:
    sum += (num*num)

  return sum

my_list = [1,2,4,3,4,3,43,4,5,64,3,532]
res = sum_of_squares(my_list)

print(f"{res} is the sum of squares of all numbers of {my_list}")

289074 is the sum of squares of all numbers of [1, 2, 4, 3, 4, 3, 43, 4, 5, 64, 3, 532]

In [ ]:
def check_prime(n):
  for i in range(2,n):
    if n % i ==0:
      return False

  return True

n = int(input("Enter the desired number: "))
if check_prime(n):
  print(f"{n} is a prime number.")
else :
  print(f"{n} is not a prime number.")

Enter the desired number: 47
47 is a prime number.

In [ ]:
first_list = [1,2,4,5,9,6,5,20]
second_list = [1,5,4,3,6,9,74,87]
common_list = list(set(first_list)&set(second_list))
print(f"{common_list} is the list of all the elements from the {first_list} and {second_list}")

[1, 4, 5, 6, 9] is the list of all the elements from the [1, 2, 4, 5, 9, 6, 5, 20] and [1, 5, 4, 3, 6, 9, 74, 87]

In [ ]:
def fibo_generator(n):
  first = 0
  second = 1
  fibo_list = []
  for i in range(n):
    fibo_list.append(first)
    temp = first
    first = second
    second = temp + second
  return fibo_list


n = int(input("Enter the term upto which you want to generate fibonacchi series: "))
fibo_list = fibo_generator(n)
print(f"Fibonacchi series upto {n} is: {fibo_list}")

Enter the term upto which you want to generate fibonacchi series: 7
Fibonacchi series upto 7 is: [0, 1, 1, 2, 3, 5, 8]

In [ ]:
def return_max_from_three(a,b,c):
  return max(list((a,b,c)))

a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = int(input("Enter the third number: "))

maxi = return_max_from_three(a,b,c)
print(f"{maxi} is the maximum of {a},{b},{c}")

Enter the first number: 45
Enter the second number: 87
Enter the third number: 12
87 is the maximum of 45,87,12

In [ ]:
s = input("Enter the string with punctuations: ")
result = ""
for char in s:
  if char.isalnum() or char.isspace():
    result += char

print(f"{result} is the string after removing all the punctuation from {s}")

Enter the string with punctuations: iamsdff!DFNSFSAKN&SDSJDFNJSJF) SAFDFSD
iamsdffDFNSFSAKNSDSJDFNJSJF SAFDFSD is the string after removing all the punctuation from iamsdff!DFNSFSAKN&SDSJDFNJSJF) SAFDFSD

In [ ]:
n = int(input("Enter the number: "))
sum = 0
temp = n
while temp>0:
  digit = temp % 10
  sum += digit
  temp //= 10

print(f"{sum} is the sum of digits of {n}")

Enter the number: 45
9 is the sum of digits of 45

In [ ]:
def is_prime(n):
  if n == 1:
    return False
  for i in range(2,n):
    if n % i ==0:
      return False
  return True
prime_list = []
for i in range(1,101):
  if is_prime(i):
    prime_list.append(i)

print(f"The prime numbers from 1 to 100 is: {prime_list}")

The prime numbers from 1 to 100 is: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
year = int(input("Enter a year: "))
if year % 4 ==0 and (year % 100 !=0 or year % 400 ==0):
  print(f"{year} is leap year.")
else:
  print(f"{year} is not leap year")

Enter a year: 2022
2022 is not leap year

In [ ]:
def remove_non_alpha(s):
  result = ""
  for char in s:
    if char.isalpha():
      result += char

  return result

s = input("Enter the string: ")
mod_s = remove_non_alpha(s)
print(f"{mod_s} is the string after removing all non-alphabetic character from {s}")

Enter the string: 1sf1sf1sdf1sdf1sdfSdf1sf1sf
sfsfsdfsdfsdfSdfsfsf is the string after removing all non-alphabetic character from 1sf1sf1sdf1sdf1sdfSdf1sf1sf

In [ ]:
def word_count_dictionary(s):
  my_dict = {}
  words_list = s.split()
  for word in words_list:
    if word  in my_dict.keys():
      my_dict[word] += 1
    else:
      my_dict[word] = 1

  return my_dict


s = input("Enetr a sentence: ")
count_dict = word_count_dictionary(s)
print(f"{count_dict} is the dictionary with the count of each word in {s}")

Enetr a sentence: i am a boy . boy who is in love with
{'i': 1, 'am': 1, 'a': 1, 'boy': 2, '.': 1, 'who': 1, 'is': 1, 'in': 1, 'love': 1, 'with': 1} is the dictionary with the count of each word in i am a boy . boy who is in love with

In [ ]:
def multi_number_avg(*args):
    total = 0
    for num in args:
        total += num
    return total / len(args)


print(multi_number_avg(10, 20, 30))

20.0